<div class="jumbotron">
	<h1>Beauty for the busy.</h1>
</div> <!-- jumbotron -->

<div class="row">
  <div class="col-md-8">
  		<p style= "color: #34495e;">Our reviews bring efficiency and feedback to the process of buying make-up, moisturizers, shampoos, and serums. While comprehensive specs and user reviews exist for electronics and car parts, we are adrift in a sea of images and emotive phrases when it comes to buying beauty products. We need better than trial and error or word of mouth advice when it comes to the things we put on our face! </p>
  </div> <!-- col-md-8 -->
  <div class="col-md-4">
  	<div class= "well wel-red">
  		<p> “Have patience with everything that remains unsolved in your heart...live in the question.” </p>
  		<p> <em>― Rainer Maria Rilke, Letters to a Young Poet </em> </p>
 	</div> <!-- well wel-red -->
  </div> <!-- col-md-4 -->
</div> <!-- row -->