<div class="jumbotron">
	<h1>Get to know us</h1>
</div> <!-- jumbotron -->


<div class="row">

	<div class="col-md-4 center">
    <div class="well wel-red" style= "bg: #ecf0f1;">
  		<h2 style="color: #c0392b;">Liz Gross</h2>
  		<h3>Founder/CEO</h3> 
    </div> <!-- Liz well -->
  		<p style="text-align: center">Liz founded FacePlant to do her small part to right the gender imbalance that plagues today's technological problem solving. When the people who hold the keys to innovation are all well-off, white, urban men they tend to solve the problems of well-off, white, urban men. Cataloguing and recommending beauty products for women (and men!) who don't have time for magazines and trials but want only the best is a thin slice of the wedge, but it's a start. Former lives include public policy analyst, researcher, reporter, student, farmer and government wonk. <a href="https://twitter.com/lizsgross" target="_blank">@lizsgross</a> </p>
  </div> <!-- Liz column -->

  <div class="col-md-4 center">
    <div class="well wel-red" style= "bg: #ecf0f1;">
  		<h2 style="color: #c0392b;">Karan Jain</h2>
  		<h3>Advisor/Ass. Captain</h3>
    </div> <!-- Karan well -->
  		<p  style="text-align: center"> Karan helped Liz start FacePlant after working on several projects at the intersection of technology and community development. He previously founded <a href="https://clovest.com" target="_blank">Clovest</a>, a crowdfunding platform for small, local businesses. Karan has also worked at the Federal Reserve Board of Governors and as a freelance developer building web applications for start-up, enterprise, and foundation clients. He actively advises to several D.C. area start-ups and nonprofits on marketing and strategy. Karan holds degrees in Economics and International Relations from Tufts University and is a 2012 <a href="http://www.startingbloc.org/" target="_blank">StartingBloc Fellow</a>.</p>
  </div> <!-- Karan column -->

  <div class="col-md-4 center">
    <div class="well wel-red" style= "bg: #ecf0f1;">
  		<h2 style="color: #c0392b;">An Otter</h2>
  		<h3>Chief Adorable Officer</h3>
    </div> <!-- Otter well -->
  		<p style="text-align: center">While he doesn't do much, everybody's just happy to have him. Also gives advice on kelp wrapping and ocean napping. </p>
  </div> <!--Otter column -->

<div> <!-- row -->





