<div class="jumbotron">
	<h1> Get to know us! </h1>
</div>

<div class="row">
	<div class="col-md-4">
  		<h2>Liz Gross</h2>
  		<h3>Founder/CEO </h3> 
  		<p> Liz founded FacePlant to do her small part to right the gender imbalance that plagues today's technological problem solving. When the people who hold the keys to innovation are all well-off, white, urban men they tend to solve the problems of well-off, white, urban men. Cataloguing and recommending beauty products for women (and men!) who don't have time for magazines and trials but want only the best is a thin slice of the wedge, but it's a start. Former lives include public policy analyst, researcher, reporter, student, farmer and government wonk. <a href="https://twitter.com/lizsgross" target="_blank">@lizsgross</a> </p>
  	</div>
  	<div class="col-md-4">
  		<h2>Karan Jain</h2>
  		<h3>Advisor/Chief Ass Kicker</h3>
  		<p> Karan founded tinyGive after working on several projects at the intersection of technology and community development. He previously founded <a href="https://clovest.com" target="_blank">Clovest</a>, a crowdfunding platform for small, local businesses. Karan has also worked at the Federal Reserve Board of Governors and as a freelance developer building web applications for start-up, enterprise, and foundation clients. He actively advises to several D.C. area start-ups and nonprofits on marketing and strategy. Karan holds degrees in Economics and International Relations from Tufts University and is a 2012 <a href="http://www.startingbloc.org/" target="_blank">StartingBloc Fellow</a>.</p>
  	</div>
  	<div class="col-md-4">
  		<h2>An Otter</h2>
  		<h3>Chief Adorable Officer</h3>
  		<p>While he doesn't do much, everybody's just happy to have him. Also gives advice on kelp wrapping and ocean napping. </p>
  	</div>
<div>





